<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div id="app">
        <h1>On First</h1>
        <p v-once>{{ luckyNumbers }}</p>
        <p v-once>{{ projects }}</p>
        <hr>

        <hr>
        <ul>
            <h1>Lucky Number: {{luckyNumbers[luckyNumbers.length-1]}}</h1>

            <h2 v-show="luckyNumbers[6]%5 === 0">Divisible by 5 by vshow</h2>
            <h2 v-if="luckyNumbers[6]%5 === 0">Divisible by 5</h2>
            <h2 v-else-if="luckyNumbers[6]%4 === 0">Divisible by 4</h2>
            <h2 v-else-if="luckyNumbers[6]%3 === 0">Divisible by 3</h2>
            <h2 v-else>HI</h2>

            <li v-for="(p,i) in projects" :key="p.name">
                <span>{{i}}</span>
                {{ p.name }} 
                Review: <input type="text">
                <ul>
                    <li v-for="(v,k) in p">{{k}} ---> {{v}}</li>
                </ul>
            </li>
        </ul>

        <hr>
        <p v-html="getMyHeading()"></p>
        <a v-bind:href="randomSite">RandomSite</a>



    </div>
    
</body>
<script>

const { createApp, ref, reactive, onMounted } = Vue;

createApp({

    setup(){

        let luckyNumbers = reactive([1,40,23,5,34,2,3]);
        let projects = reactive([
            {name: "ProjectA", author: "HRM"},
            {name: "Vue Js Library", author: "Manish"},
            {name: "Movie Theater", author: "Sagnik"},
            {name: "Drone Driver", author: "Vivek"},
            {name: "Maggie Maker", author: "Prins"},
        ])
        let randomSite = reactive("https://www.google.com");

        function shuffleProjects() {
            setInterval(() => {
                projects.sort(() => Math.random() - 0.5)
            }, 5000);

            setInterval(() => {
                let i = luckyNumbers.length - 1;
                luckyNumbers[i] = luckyNumbers[i] +1
            }, 5000);
        }
        
        onMounted(() => {shuffleProjects()})

        function getMyHeading() {
            return "<h1>I am Heading Return by getMyHeading Function</h1>"
        }

        return {
            luckyNumbers,
            projects,
            getMyHeading,
            randomSite
        }
    }

}).mount("#app")

</script>
</html>